/* Display image bellow Drupal overlay.*/
.cloud-zoom-container #wrap {
  z-index: 499 !important;
}
.cloud-zoom-gallery-thumbs {
  display: block;
	max-width: 12em;
	max-height: 75%;
  float:right;
  }

  .cloud-zoom-gallery-thumbs img{

  	margin-right: 0.5em;
  	margin-bottom: 0.5em;
  }