/* This file will hold styles for the mobile version of your website (mobile first). */
/* This also can include ANY global CSS that applies site-wide. Unless overwritten by a more specific style rule, CSS declarations in global.css will apply site-wide. */

/* Typeography */
@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);

body {
	color: white;
}

/*disables titles*/
#page-title {
display:none;
}

/*disables menus*/
#main-menu{
	display:none;
}

#zone-user{
	margin-top: 5em;
	margin-bottom: 5em;
}





.block.block-block.contextual-links-region.block-1.block-block-1.odd.block-without-title{
	width : 260px;
	height : 30px;
	display: inline-block;
	float:left;
	clear:none;
	list-style-type:none;
}

#block-block-1{
	width : 260px;
	height : 30px;
	display: inline-block;
	float:left;
	clear:none;
	list-style-type:none;
}


#block-block-2{
	height: 10em;
	margin-bottom: 4em;
}

.hero-text {
	font-family: 'Montserrat', sans-serif;
	font-size: 6em;
	color:white;
	display: block;
	text-align: center;
}

#block-imageblock-4 {
	width: 10em;
	height: 1em;
}

#block-imageblock-5{
	width:10em;
	height: 1px;
}

.block-body{
	width:15em;
	height: 1em;
}

#links{
	font-size:0.9em;
	border:1px solid white;
	color:white;
	text-align:center;
	padding: 0.5em 0.5em 0.5em 0.5em
}


.view-content a {
  text-decoration: none;
  border: none;
}

.grid-7.prefix-5.region.region-menu {
	display:none;
	visibility: hidden;
}

/*the next three ID's and classes are for the header social media icons */
#block-imageblock-3 {
    display: inline-block;
	float:left;
	margin-left: 7.7em;
}

#block-imageblock-6 {
    display: inline-block;
	float:left;
	margin-left: 0.3em;
}

#block-imageblock-8 {
    display: inline-block;
	float:left;
	
}


/*the next two classes are for footer social media icons*/
/*twitter*/

#block-imageblock-10{
	width : 30px;
	height : 30px;
	display: inline-block;
	float:right;
	clear:none;
	list-style-type:none;
}

/*facebook*/

#block-imageblock-9{
	width : 30px;
	height : 30px;
	display: inline-block;
	float:right;
	clear:none;
	list-style-type:none;
	margin-left: 1em;
}

/*footers background Color*/
#zone-footer-wrapper{
	background-color: #181818;
	width:100%;
	position: relative;
	margin-top: 4em;
	margin-bottom: 2em;
}

/* removal of text decoration from enter button*/
.block.block-block.contextual-links-region.block-4.block-block-4.odd.block-without-title{
	text-decoration: none;
	}

	#block-block-4{
		text-align: center;
	}

	#block-block-4 .content a {
		text-decoration: none;
	}

	#block-block-4 .content a span {
		margin: 0;
	}


/* Product Content Type */
.node-product__main-image img {
	width: 100%;
	height: auto;
}

.node-product__thumbnail {
	float: left;
}

.node-product__images {
	display: block;
	overflow: hidden;
	clear: none;
}

.node-product__add-cart {
	display: block;
	margin: 1em 0;
	background: black;
	padding: 1em;
	clear: none;
}

.node-product .form-type-select {
	position: relative;
}

.node-product .form-type-select:after {
	content: '▼';
	display: inline;
	margin-left: -23px;
}

.node-product .form-type-select select {
	background: transparent;
	color: #FFF;
	font-weight: bold;
	position: relative;
}

.node-product .attribute .form-type-radio {
	display: inline-block;
}

.node-product .attribute .form-type-radio .form-radio {
	display: none;
}

.node-product .attribute .form-type-radio label {
	display: block;
	width: 3em;
	text-align: center;
	border: 1px solid #FFF;
	padding: 1em;
	cursor: pointer;
}

.node-product .attribute .form-type-radio .form-radio:checked + label {
	background: white;
	color: black;
}

.node-product .node-add-to-cart {
	background: #181818;
	border: none;
	border-radius: 0;
	padding: 1em 2em;
	color: white;
	text-decoration: none;
	text-shadow: none;
	font-size: 1.1em;
	border: 1px solid transparent;
}

.node-product .node-add-to-cart:hover {
	background: #181818;
	border-color: white;
}

.node-product #wrap {
	float: right !important;
	margin: auto;
}

/*store front view images*/

.views-field.views-field-field-storeimage{
	margin-right: 4.5em;
	margin-left: 4.5em;
	margin-bottom: 1.2em;
	margin-top: 1.2em;
}