/* This file will hold styles for the mobile version of your website (mobile first). */
/* This also can include ANY global CSS that applies site-wide. Unless overwritten by a more specific style rule, CSS declarations in global.css will apply site-wide. */

/* Typeography */
@import url(http://fonts.googleapis.com/css?family=Vidaloka);
/*font-family: 'Vidaloka', serif;*/

body {
	color: white;
}

/*disables titles*/
#page-title {
display:none;
}

/*disables menus*/
#main-menu{
	display:none;
}

#zone-user{
	margin-top: 5em;
	margin-bottom: 5em;
}

/* unvisited link */
a:link {
    color: white;
}

/* visited link */
a:visited {
    color: white;
}


.block.block-block.contextual-links-region.block-1.block-block-1.odd.block-without-title{
	width : 260px;
	height : 30px;
	display: inline-block;
	float:left;
	clear:none;
	list-style-type:none;
}

#block-block-1{
	width : 260px;
	height : 30px;
	display: inline-block;
	float:left;
	clear:none;
	list-style-type:none;
}


#block-block-2{
	height: 10em;
	margin-bottom: 4em;
}

.hero-text {
	font-family: 'Vidaloka', serif;
	font-size: 6em;
	color:white;
	display: block;
	text-align: center;
}

#block-imageblock-4 {
	width: 10em;
	height: 1em;
}

#block-imageblock-5{
	width:10em;
	height: 1px;
}

.block-body{
	width:15em;
	height: 1em;
}

#links{
	font-size:0.9em;
	border:1px solid white;
	color:white;
	text-align:center;
	padding: 0.5em 0.5em 0.5em 0.5em
}


.view-content a {
  text-decoration: none;
  border: none;
}

.grid-7.prefix-5.region.region-menu {
	display:none;
	visibility: hidden;
}

/*the next three ID's and classes are for the header social media icons */
#block-imageblock-3 {
    display: inline-block;

	margin-left: 7.7em;
}

#block-imageblock-6 {
    display: inline-block;

	margin-left: 0.3em;
}

#block-imageblock-8 {
    display: inline-block;

	
}


/*the next two classes are for footer social media icons*/
/*twitter*/

#block-imageblock-10{
	width : 30px;
	height : 30px;
	display: inline-block;
	float:right;
	clear:none;
	list-style-type:none;
	margin-top: 0.2em;
}

/*facebook*/

#block-imageblock-9{
	width : 30px;
	height : 30px;
	display: inline-block;
	float:right;
	clear:none;
	list-style-type:none;
	margin-left: 1em;
	margin-top: 0.2em;
}

/*footers background Color*/
#zone-footer-wrapper{
	position: relative;
	bottom:0;
	clear:all;
	background-color: #181818;
	height: 3em;
	width:100%;
	margin-top: 4em;
	vertical-align:bottom !important;
}


/* removal of text decoration from enter button*/
.block.block-block.contextual-links-region.block-4.block-block-4.odd.block-without-title{
	text-decoration: none;
	}

	#block-block-4{
		text-align: center;
	}

	#block-block-4 .content a {
		text-decoration: none;
	}

	#block-block-4 .content a span {
		margin: 0;
	}


/* Product Content Type */
.node-product__main-image img {
	width: 100%;
	height: auto;
}

.node-product__thumbnail {
	float: left;
}

.node-product__images {
	display: block;
	overflow: hidden;
	clear: none;
}

.node-product__add-cart {
	display: block;
	margin: 0em 0em 0em 0.7em;
	background: black;
	padding: 1em;
	clear: none;
	height: 30.8em;
	width:10em;
}

.node-product .form-type-select {
	position: relative;
}

.node-product .form-type-select:after {
	content: '▼';
	display: inline;
	margin-left: -23px;
}

.node-product .form-type-select select {
	background: transparent !important;
	color: #FFF;
	font-weight: bold;
	position: relative;
}
.node-product .attribute .form-type-radio {
	display: inline-block;
}

.node-product .attribute .form-type-radio .form-radio {
	display: none;
}

.node-product .attribute .form-type-radio label {
	display: block;
	width: 3.8em;
	text-align: center;
	padding: 1em;
	cursor: pointer;
	background: #181818;
}

.node-product .attribute .form-type-radio .form-radio:checked + label {
	background: #252525;
}

.node-product .node-add-to-cart {
	float:right;
	background: #181818;`
	border: none;
	border-radius: 0;
	padding: 1em 2em;
	color: white;
	text-decoration: none;
	text-shadow: none;
	font-size: 1.1em;
	border: 1px solid transparent;
	margin-top: 13em;
	margin-right: -5em;
	clear:none;
}

.node-product .node-add-to-cart:hover {
	background: #181818;
	border-color: white;
}
.node-product #wrap {
	float: right !important;
	margin: auto;
}

.product-title{
	font-size: 1.4em;
}

#wrap
{
	margin-right: 1em;
}

#uc-product-add-to-cart-form-8{
	height: 26.7em;
	display: block;
	overflow: hidden;
}

/* some cloud zoom gallery css can be found in cloud_zoom.css */

.views-field.views-field-title{
	text-align: center;
}



.views-field.views-field-sell-price{
	text-align: center;
}

/*store front views images*/

.views-field.views-field-field-storeimage{
	margin-right: 4em;
	margin-left: 2em;
	margin-bottom: 1.2em;
	margin-top: 1.2em;
}

/*click image to enlarge*/

.imagemagnifier{
	width:17em;
	float:right;
	margin-top:-16em;
	font-size: 0.6em;
	display:inline;
}


#magnifying-glass
{
	display: inline-block;
 width:1em;
 clear:none;
 font-size: 1.8em; /* This controls the size. */
 display: inline-block;
 width: 0.4em;
 height: 0.4em;
 border: 0.1em solid white;
 position: relative;
 border-radius: 0.35em;
}

#magnifying-glass::before
{
 content: "";
 display: inline;
 position: absolute;
 right: -0.25em;
 bottom: -0.1em;
 border-width: 0;
 background: white;
 width: 0.35em;
 height: 0.08em;
 -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
     -ms-transform: rotate(45deg);
      -o-transform: rotate(45deg);
}

/*video*/
.videothumb{
	display: block;
	position: fixed;
	top: 39em;
	float:left;
	height: 7.5em;
	width: 12em;
}

.Enlarge{
	position: fixed;
	top: 46em;
	display: block;
	font-size: 0.8em;
	float:left;
}

.display-price{
	clear:none;
	float: right;
	margin-top: 14em;
	margin-right: 2em;
}

.form-required{
	visibility: hidden;
}

.comment-add.first.last{
	visibility: hidden;
}