/* This file will hold styles for the mobile version of your website (mobile first). */
/* This also can include ANY global CSS that applies site-wide. Unless overwritten by a more specific style rule, CSS declarations in global.css will apply site-wide. */

/* Typeography */
@import url(http://fonts.googleapis.com/css?family=Fenix);
/*font-family: 'Fenix', serif;*/
@import url(http://fonts.googleapis.com/css?family=Playfair+Display:400,700);
/*font-family: 'Playfair Display', serif;*/

li{
	color:black;
}

body {
	color: white;
}

img {
	width: 100%;
	height: auto;
	display: block;
}

/*disables titles*/
#page-title {
display:none;
}

/*disables menus*/
#main-menu{
	display:none;
}

#zone-user{
	margin-top: 5em;
	margin-bottom: 5em;
}

/* unvisited link */
a:link {
    color: white;
}

/* visited link */
a:visited {
    color: white;
}


.block.block-block.contextual-links-region.block-1.block-block-1.odd.block-without-title{
	width : 260px;
	height : 30px;
	display: inline-block;
	float:left;
	clear:none;
	list-style-type:none;
}

#block-block-1{
	width : 260px;
	height : 30px;
	display: inline-block;
	float:left;
	clear:none;
	list-style-type:none;
}


#block-block-2{
	height: 10em;
	margin-bottom: 4em;
}

.hero-text {
	font-family: 'Playfair Display', serif;
	font-size: 6em;
	color:white;
	display: block;
	text-align: center;
}

#block-imageblock-4 {
	width: 10em;
	height: 1em;
}

#block-imageblock-5{
	width:10em;
	height: 1px;
}

.block-body{
	width:15em;
	height: 1em;
}

#links{
	font-size:0.9em;
	border:1px solid white;
	color:white;
	text-align:center;
	padding: 0.5em 0.5em 0.5em 0.5em
}


.view-content a {
  text-decoration: none;
  border: none;
}

.grid-7.prefix-5.region.region-menu {
	display:none;
	visibility: hidden;
}

/*twitter*/
#block-imageblock-3 {
    display: inline-block;
    margin-left: 7em;
}

#block-imageblock-6 {
    display: inline-block;
	margin-left: 0.3em;
}


/*shopping bag*/
#block-imageblock-8 {
    display: inline-block;
	margin-right:2em;
	margin-left: 6em;
}


/*HomePage social icons*/
/*Facebook*/
#block-imageblock-11{
	display:inline-block;
	margin-left:0.6em;
}

/*Twitter*/
#block-imageblock-12{
	display:inline-block;
	margin-left:16em;
}


/*the next two classes are for footer social media icons*/
/*twitter*/

#block-imageblock-10{
	width : 25px;
	height : 25px;
	display: inline-block;
	float:right;
	clear:none;
	list-style-type:none;
	margin-top: 0.2em;
}

/*facebook*/

#block-imageblock-13{
	width : 25px;
	height : 25px;
	display: inline-block;
	float:right;
	clear:none;
	list-style-type:none;
	margin-left: 0.5em;
	margin-top: 0.2em;
}

/*footers background Color*/


#zone-footer{
	position: relative;
	margin-top: 5em;
	clear:all;
	background-color: #181818;
	height: 3em;
	width:100%;
}

/* removal of text decoration from enter button*/
.block.block-block.contextual-links-region.block-4.block-block-4.odd.block-without-title{
	text-decoration: none;
	font-family: 'Fenix', serif;
	}

	#block-block-4{
		position: absolute;
		top: 1em;
		right:42%;
		text-align: center;
	}

	#block-block-4 .content a {
		text-decoration: none;
	}

	#block-block-4 .content a span {
		margin: 0;
	}


/* Product Content Type */
.node-product__main-image img {
	width: 100%;
	height: auto;
}

.node-product__thumbnail {
	float: left;
}

.node-product__images {
	display: block;
	overflow: hidden;
	clear: none;
}


.node-product__add-cart {
	display: block;
	margin: 0em 0em 0em 0.7em;
	background: black;
	padding: 1em;
	clear: none;
	height: 30em;
	width:10em;
}

.node-product .form-type-select {
	position: relative;
}

.node-product .form-type-select:after {
	content: '▼';
	display: inline;
	margin-left: -23px;
}

.node-product .form-type-select select {
	background: transparent !important;
	color: #FFF;
	font-weight: bold;
	position: relative;
}

.form-item.form-type-radios.form-item-attributes-3{
	position: absolute;
	top:4em;
}

.node-product .attribute .form-type-radio {
	display: inline-block;
}

.node-product .attribute .form-type-radio .form-radio {
	display: none;
}

.node-product .attribute .form-type-radio label {
	display: block;
	height: 1.8em;
	width: 3em;
	text-align: center;
	cursor: pointer;
	padding-top: 0.3em;
}

.node-product .attribute .form-type-radio .form-radio:checked + label {
	background: #252525;
}


.field-item.even{
	display: inline-block;
	clear:none;
	position: absolute;
	top:6.7em;
	left: 0.2em;
}


.fit{
	font-family: 'Vidaloka', serif;
	display:inline-block;
	clear:none;
	position: absolute;
	top: 4em;
	right: 8em;
}

.cost{
	font-family: 'Vidaloka', serif;
	display:inline-block;
	clear:none;
	position: absolute;
	top: 22.2em;
	right:13.7em;
}

.node-product .node-add-to-cart {
	float:right;
	background: #181818;
	border: none;
	border-radius: 0;
	padding: 1em 2em;
	color: white;
	text-decoration: none;
	text-shadow: none;
	font-size: 1.1em;
	border: 1px solid transparent;
	position: absolute;
	top:22.5em;
	right:6.2em;
	clear:none;
}

.node-product .node-add-to-cart:hover {
	background: #181818;
	border-color: white;
}
.node-product #wrap {
	float: right !important;
	margin: auto;
}

.product-title{
	font-family: 'Vidaloka', serif;
	font-size: 1.8em;
}

#wrap
{
	margin-right: 1em;
}

#uc-product-add-to-cart-form-8{
	height: 26.7em;
	display: block;
	overflow: hidden;
}

/* some cloud zoom gallery css can be found in cloud_zoom.css */

.views-field.views-field-title{
	text-align: center;
	font-family: 'Vidaloka', serif;
	font-size: 1.4em;
}


.views-field.views-field-sell-price{
	text-align: center;
	font-family: 'Fenix', serif;
}

.views-field.views-field-field-circa{
	text-align: center;
	font-family: 'Fenix', serif;
}


/*store front views images*/

.views-field.views-field-field-storeimage{
	
	margin-left: 1em;
	margin-bottom: 1em;
	margin-top: 1em;
}

.field-content.store{
	margin-left: 2.5em;
}



/*click image to enlarge*/

.imagemagnifier{
	width:17em;
	float:right;
	margin-top:-16em;
	font-size: 0.6em;
	display:inline;
}


#magnifying-glass
{
	display: inline-block;
 width:1em;
 clear:none;
 font-size: 1.8em; /* This controls the size. */
 display: inline-block;
 width: 0.4em;
 height: 0.4em;
 border: 0.1em solid white;
 position: relative;
 border-radius: 0.35em;
}

#magnifying-glass::before
{
 content: "";
 display: inline;
 position: absolute;
 right: -0.25em;
 bottom: -0.1em;
 border-width: 0;
 background: white;
 width: 0.35em;
 height: 0.08em;
 -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
     -ms-transform: rotate(45deg);
      -o-transform: rotate(45deg);
}

/*video*/
.videothumb{
	border: 1px solid #181818;
	display: inline-block;
	position: absolute;
	top: 23.6em;
	float:left;
}

.Enlarge{
	font-family: 'Vidaloka', serif;
	position: absolute;
	top: 1.2em;
	left:1.6em;
	display: block;
	font-size: 0.8em;
	float:left;
}

#uc-product-add-to-cart-form-3{
	position: absolute;
	top:2.5em;
}

.display-price{
	display:inline-block;
	clear:none;
	float: right;
	margin-top: 14em;
	margin-right: 2em;
}

.form-required{
	visibility: hidden;
}

.comment-add.first.last{
	visibility: hidden;
}

/*text field -product pages*/
.field-label{
	font-size: 1em;
	vertical-align: bottom;
	font-family: 'Vidaloka', serif;
	position: absolute;
	display:block;
	top: 13em;
}


.field-items{
	font-family: 'Vidaloka', serif;
	position: relative;
	display:block;
	top:1.5em;
	margin-bottom: 3em;
	max-width:92%
}

.field-items.span{
	visibility: hidden;
}

#node-17{
	background-color: #181818;
	text:white;
}

.attribute.attribute-3.odd{
	margin-top: 4em;
}

#block-block-3{
	font-family: 'Playfair Display', serif;
	text-align: right;
	margin-right: 2em;
	font-size: 0.8em;
	max-height: 2.5em;
}

#zone-preface{
	padding-left: 1.8em;
}

.field-content{
	font-family: 'Playfair Display', serif;
}

.field-content-circa{
	font-family: 'Playfair Display', serif;
	font-weight: 700;
}

.uc-price{
	font-size: 0.8em;
	color:black;
}

.uc-price2{
	font-family: 'Playfair Display', serif;
	text-align: center;
	font-size:0.8em;
	color:white;
}

.checkout{
	color:black;
}


#subtotal-title{
	color:black;
}

.enter:hover{
	opacity: 1;
}

.enter{
	font-family: 'Playfair Display', serif;
	color: white;
	border-width: 0.1em;
	padding:0.6em 3em 0.6em 3em;
	border-style: solid;
	border-color:white;
	opacity: 0.7;
}

.store:hover{
	opacity: 0.5;
}

.price{
	color:black;
}

.productcost{
	font-size: 0.8em;
	position: absolute;
	top: 9.6em;
	right: 10em;
}

.contentbox{
	margin-bottom: 10em;
}

.edit-attributes-3{
	font-family: 'Vidaloka', serif;
}

.ymal{
	width:16em;
}

